
#container {
    position: relative;
    margin-top: 500px;
}

#container-org {
    border: 1px solid black;
}

li {
    width: 50px;
    height: 50px;
    background-color: blueviolet;
    border: 1px solid black;
    position: absolute;
}

#container2 {
    position: relative;
}

#container2 > canvas {
    border: 1px solid chartreuse;
    position: absolute;
}