
body {
    position: absolute;
    margin: 0px;
}

ul {
    list-style: none;
}

li {
    float: left;
    width: 45px;
    height: 45px;
    border: 1px solid #dadada;
    text-align: center;
    
    color:black;
    background-color: antiquewhite;
}
