td {
    width: 65px;
    height: 65px;
    background-color: black;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    cursor: grab;
    border: 1px solid black;
    /* pointer-events:none; */
}

tr {
    color: white;
    font-size: 30px;
}